body {
  max-width: 460px;
  margin: 0;
  position: relative;
}
.header {
  max-width: 460px;
  position: relative;
}

.header_menu {
  margin: 0px auto;
}

main {
  display: none;
}
.mobail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo';
}
.avatar {
  left: 0px;
  top: 0px;
  padding: 0;
  margin: 83px 103px 34px 97px;
}
.foto {
  width: 174px;
  height: 180px;
  padding: 0;
  box-sizing: border-box;
}
.name {
  width: 312px;
  height: 120px;
  margin-bottom: 21px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.description {
  width: 328px;
  height: 96px;
  padding: 0px;
  margin-bottom: 27px;
  text-align: center;
}
.mobail_btn {
  width: 208px;
  height: 47px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 59px;
}
.mobail_btn:hover {
  background-color: #ff6464;
  color: white;
}
.conteiner__too {
  display: none;
}
.work_content {
  display: none;
}
.blok {
  display: inline-block;
  font-family: 'Heebo';
  background-color: #edf7fa;
  height: 642px;
  padding: 0px 31px 0px 0px;
}
.container_lrmb {
  width: 384px;
  height: 266px;
  background-color: white;
}
.container_lrmb-top {
  background-color: #4ee318;
  margin: 0px 12px 0px -12px;
  width: 380px;
  height: 280px;
}
.container_mh {
  width: 327px;
  height: 60px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  padding-left: 9px;
  margin-top: 9px;
}
.container_mh p {
  padding-left: 50px;
  margin-top: 9px;
  width: 312px;
}
.container_txt {
  width: 318px;
  height: 116px;
  justify-content: flex-start;
  margin-left: 54px;
}
.blok_p {
  margin-top: 1px;
  margin-left: 24px;
  height: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}
.menu_link {
  display: none;
}
.img {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.container_data {
  justify-content: flex-start;
  margin: 10px 0px 23px 31px;
  height: 21px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
